body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    background-color: black;
    line-height: 30px;
}

img {
    width: 300px;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    text-align: center
}

h2.recipe {
    text-align: center;
}

p {
    text-align: justify;
}

ul, ol {
    color: grey;
    text-align: justify;
}